**/node_modules
**/dist
**/.next
**/.turbo
**/coverage
**/generated
.git
.github
.idea
.vscode
**/*.log
**/.env
**/.env.*
!**/.env.example
docs
infrastructure/kubernetes
**/test-results
**/playwright-report
README.md
